CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_notion_r281=y
CONFIG_DEVEL=n
CONFIG_FEED_3ginfo_lite=n
CONFIG_FEED_kenzo=n
CONFIG_FEED_lite_watchdog=n
CONFIG_FEED_modemband=n
CONFIG_FEED_modemdefine=n
CONFIG_FEED_small=n
CONFIG_FEED_small_package=n
CONFIG_FEED_sms_tool=n
CONFIG_FEED_xray=n
CONFIG_FEED_v2raya=n
CONFIG_FEED_zapret=n
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=n
CONFIG_PACKAGE_block-mount=n
CONFIG_PACKAGE_bridge=n
CONFIG_PACKAGE_irqbalance=n
CONFIG_PACKAGE_kmod-fs-exfat=n
CONFIG_PACKAGE_kmod-fs-ext4=n
CONFIG_PACKAGE_kmod-fs-msdos=n
CONFIG_PACKAGE_kmod-fs-ntfs=n
CONFIG_PACKAGE_kmod-fs-vfat=n
CONFIG_PACKAGE_kmod-fuse=n
CONFIG_PACKAGE_kmod-lib-lz4=n
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-zstd=n
CONFIG_PACKAGE_kmod-macvlan=n
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
CONFIG_PACKAGE_kmod-nft-bridge=n
CONFIG_PACKAGE_kmod-nft-netdev=n
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nls-cp437=n
CONFIG_PACKAGE_kmod-nls-iso8859-1=n
CONFIG_PACKAGE_kmod-nls-utf8=n
CONFIG_PACKAGE_kmod-scsi-core=n
CONFIG_PACKAGE_kmod-scsi-generic=n
CONFIG_PACKAGE_kmod-serial-8250=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-wireguard=n
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libustream-wolfssl=n
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-3ginfo-lite=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-irqbalance=n
CONFIG_PACKAGE_luci-app-lite-watchdog=n
CONFIG_PACKAGE_luci-app-modemband=y
CONFIG_PACKAGE_luci-app-modemdefine=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-ramfree=n
CONFIG_PACKAGE_luci-app-sms-tool-js=y
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-app-zapret=n
CONFIG_PACKAGE_luci-mod-dashboard=n
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_luci-proto-relay=n
CONFIG_PACKAGE_luci-proto-wireguard=n
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-theme-material=n
CONFIG_PACKAGE_openvpn-openssl=n
CONFIG_PACKAGE_uboot-envtools=n
CONFIG_PACKAGE_wireless-tools=n
CONFIG_PACKAGE_zram-swap=n
# --- AmneziaWG support start ---

# CONFIG_PACKAGE_kmod-amneziawg=y
# CONFIG_PACKAGE_amneziawg-tools=y
# CONFIG_PACKAGE_luci-app-amneziawg=y
# CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
# CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
# CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
# CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
# CONFIG_PACKAGE_kmod-crypto-kpp=y
# CONFIG_PACKAGE_kmod-udptunnel4=y
# CONFIG_PACKAGE_kmod-udptunnel6=y
# CONFIG_PACKAGE_libqrencode=y
# CONFIG_PACKAGE_qrencode=y

# --- AmneziaWG support end ---
CONFIG_VERSIONOPT=n
CONFIG_VERSION_CODE_FILENAMES=n
CONFIG_VERSION_FILENAMES=n
